.assignment-box {
  background: #fff;
  border: 2px solid #000000;
  float: left;
  font-weight: lighter;
  font-size: 20px;
  line-height: 34px;
  height: 525px;
  margin-right: -1px;
  margin-top: 30px;
  text-align: left;
  width: 50%;
}
.assignments {
  text-align: left;
  font-size: 16px;
  display: flex;
}

.header {
  background: #3434ff;
  border: 1px solid #000000;
  float: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  height: 80px;
  margin-right: -1px;
  margin-bottom: 200px;
  text-align: center;
  width: 100%;
}

.calendar {
  background: #fff;
  border: 2px solid #000000;
  font-size: 10px;
  font-weight: bold;
  height: 400px;
  margin-left: 20px;
  margin-top: 20px;
  width: 600px;
  display: flex;
  flex-direction: row;
}

.searchbar{
  background: #fff;
  border: 2px solid #000000;
  float: center;
  font-size: 20px;
  font-weight: lighter;
  line-height: 34px;
  height: 50px;
  margin-left: 40px;
  margin-top: 10px;
  text-align: center;

}

.row1{
  display:flex; 
  flex-direction:row;
}

.redirect {
  border: none;
  padding: 0;
  background: none;
  font-weight: bold;
  font-size: 18px;
  color: navy;
  font: sans-serif;
  text-decoration: underline;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 18px;
}

li { 
  margin-bottom: 3px; 
  list-style-type: none;  
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square:focus {
  outline: black; /* this said none bf */
}

.kbd-navigation .square:focus {
  background: rgb(240, 180, 227);
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.day-row:after {
  clear: both;
  content: "";
  display: table;
}

.title {
  margin-bottom: 3px;
  padding-right: 10px;  
  font-size: 19px;
  color: green;
}

.filter-label {
    font-size: 12px; 
}

.arrows {
  margin-right: 20px;  
  color: floralwhite; 
  border-radius: 5px;
  background-color: #C9DAE9;
  border: none;
  color: gray;
  text-align: center;
  padding: 3px;
  padding-right: 20px; 
  padding-left: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font: 12px "Century Gothic", Futura, sans-serif;
}

.arrows:hover span {
  padding: 3px; 
}
.arrows span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.calendar-buttons {
  margin-left: 20px;
  margin-top: -20px; 
  margin-bottom: -23px;
  padding-right: 0px; 
}
.buttons {
  margin-right: 20px;  
  color: floralwhite; 
  border-radius: 10px;
  background-color: #588BAE;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 5px; 
  padding-right: 20px; 
  padding-left: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font: 12px "Century Gothic", Futura, sans-serif;
}

.buttons:focus {
    background-color: #7285A5; 
}

.buttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttons span:after {
  content: '\2713';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttons:hover span {
  padding-right: 25px;
  font-size: 10px;
}

.buttons:hover span:after {
  font-size: 10px;
  opacity: 1;
  right: 0;
}

.events {
  text-align: left;
  font-size: 10px;
  display: flex;
}

.box {
  line-height: 1.5; 
}

.square{
  background: #f9f9f9;
  border: 1px solid #999;
  float: left;
  font-size: 10px;
  line-height: 34px;
  height: 200px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  padding-left: 5px; 
  text-align: left;
  width: 106px;
}

.Cal-assignments{
  text-align: left;
  font-size: 10px;
  display: flex;
  color: crimson;  
}

