
.assignment-box {
  margin-left: 19px; 
  background: #fff;
  /*border: 2px solid #000000; */
  float: left;
  font-weight: lighter;
  font-size: 20px;
  line-height: 34px;
  height: 525px;
  margin-right: -1px;
  margin-top: 20px;
  text-align: left;
  width: 35%;
  border-radius: 7px; 
}

.assignments{
  text-align: left;
  font-size: 16px;
  display: flex;
}

.assignment-title {
    padding-left: 10px; 
    background: #45b6fe; 
    border-top-right-radius: 7px; 
    border-top-left-radius: 7px; 
    padding-bottom: 5px; 
    padding-top: 5px; 
    color: #fff; 
    font: Times;
}

.redirect {
  border: none;
  padding: 0;
  background: none;
  font-weight: bold;
  font-size: 18px;
  color: #45b6fe;
  font: sans-serif;
  text-decoration: underline;
}

.my-assignment {
    margin-left: 19px; 
    margin-right: 19px; 
  background: #fff;
  /*border: 2px solid #000000; */
  float: left;
  font-weight: lighter;
  font-size: 20px;
  line-height: 34px;
  height: 525px;
  margin-top: 30px;
  text-align: left;
  width: 97%;
  border-radius: 7px; 
}

.assignment-name {
     padding-left: 10px; 
    background: #77c3ec; 
    border-top-right-radius: 7px; 
    border-top-left-radius: 7px; 
    padding-bottom: 5px; 
    padding-top: 5px; 
    color: #fff; 
    margin-top: -12px; 
}
.photo{
  height: 100px;
  width: 100px; 
}