body {
  font: 1px "Century Gothic", Futura, sans-serif;
  margin: 0px;
}

.cal-list-format {
  padding-left: 3px;
  margin-bottom: -8px; 
  font-weight: 200; 
}

li { 
  margin-bottom: 3px; 
  list-style-type: none;  
}

.square:focus {
  outline: black; /* this said none bf */
     background: #f9f9f9;
}

.square{
  background: #f9f9f9;
  border: 1px dashed #999;
  float: left;
  font-size: 11.5px;
  line-height: 34px;
  height: 280px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  padding-left: 6px; 
  text-align: left;
  width: 160px;
    font-weight: 600; 
    overflow: auto; 
}

td {
   overflow: hidden; 
    white-space: nowrap;  
}

td {
  overflow: hidden;
  white-space: nowrap;
}

.day-row:after {
  clear: both;
  content: "";
  display: table;
     white-space: nowrap;
}

table {
    table-layout: fixed; 
    width: 900px; 
}

.title {
  margin-top: 25px; 
  margin-bottom: 7px;
  padding-right: 10px;  
  font-size: 22px;
  color: #fff; 
  font-weight: 600; 
  background-color: #45b6fe; 
  text-align: center; 
   padding-top: 9px; 
  height: 42px; 
}

.filter-label {
    font-size: 14px; 
    margin-bottom: 32px; 
    margin-top: 20px; 
    color: #666666; 
    text-align: center; 
}

.arrows {
  margin-right: 20px;  
  color: floralwhite; 
  border-radius: 5px;
  background-color: #45b6fe;
  border: none;
  color: #fff;
  text-align: center;
  padding: 3px;
  padding-right: 20px; 
  padding-left: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font: 12px "Century Gothic", Futura, sans-serif;
  border: 2px solid #fff;
}

.arrows:hover span {
  padding: 3px; 
}
.arrows span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.calendar-buttons {
  margin-left: 20px;
  margin-top: -20px; 
  margin-bottom: -23px;
  padding-right: 0px; 
  align-content: center; 
    align-self: center; 
    text-align: center; 
     
}
.buttons {
  margin-right: 20px;  
  color: floralwhite; 
  border-radius: 10px;
  /*background-color: white;*/
  background: #45b6fe; 
  border: none;
  color: #FFFFFF;
  text-align: center;
  /*color: #588BAE; */
  padding: 5px; 
  padding-right: 20px; 
  padding-left: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font: 11px "Century Gothic", Futura, sans-serif;
  border: 2px solid #45b6fe;
}

.buttons:focus {
    /*background-color: #588BAE; */
    /*color: #fff;*/
}

.buttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttons span:after {
  content: '\2713';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttons:hover span {
  padding-right: 25px;
  font-size: 10px;
}

.buttons:hover span:after {
  font-size: 10px;
  opacity: 1;
  right: 0;
}

.all-button {
  margin-right: 20px;
  color: floralwhite;
  border-radius: 10px;
  /*background-color: white;*/
  background: #FFFFFF;
  border: none;
  color: #45b6fe;
  text-align: center;
  /*color: #588BAE; */
  padding: 5px;
  padding-right: 20px;
  padding-left: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font: 11px "Century Gothic", Futura, sans-serif;
  border: 2px solid #45b6fe;
}

.all-button:focus {
    /*background-color: #588BAE; */
    /*color: #fff;*/
}

.all-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.all-button span:after {
  content: '\2713';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.all-button:hover span {
  padding-right: 25px;
  font-size: 10px;
}

.all-button:hover span:after {
  font-size: 10px;
  opacity: 1;
  right: 0;
}


.Cal-assignments{
  text-align: left;
  font-size: 12px;
  display: flex;
  color: #1261a0; 
}

.zoom-links {
    text-decoration: none;
    color: black;
    font-size: 12px;
    transition: all 0.5s;
}

.zoom-links:visited {
    text-decoration: none;
    color: black;
}


.zoom-links:hover{
    font-size: 12.5px; 
    text-decoration: none;
}

.zoom-links:hover span:after {
    text-decoration: none;
  font-size: 12px;
  opacity: 1;
}


.Cal-events {
  	text-align: left;
    font-size: 10px;
    display: flex;
     background: #f9f9f9;
}
