body {
  font: 1px "Century Gothic", Futura, sans-serif;
  margin: 0px;
}

.cal-list-format {
  padding-left: 3px;
  margin-bottom: -8px; 
  font-weight: 200; 
}

li { 
  margin-bottom: 3px; 
  list-style-type: none;  
}

.square:focus {
  outline: black; /* this said none bf */
}

.square{
  background: #f9f9f9;
  border: 1px dashed #999;
  float: left;
  font-size: 11px;
  line-height: 34px;
  height: 200px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  padding-left: 6px; 
  text-align: left;
  width: 117px;
    font-weight: 600; 
}

.day-row:after {
  clear: both;
  content: "";
  display: table;
}

.title {
  margin-top: 25px; 
  margin-bottom: 7px;
  padding-right: 10px;  
  font-size: 19px;
  color: #fff; 
  font-weight: 600; 
  background-color: #45b6fe; 
  
}

.filter-label {
    font-size: 12px; 
    margin-bottom: -7px; 
    margin-top: -5px; 
    color: #666666; 
}

.arrows {
  margin-right: 20px;  
  color: floralwhite; 
  border-radius: 5px;
  background-color: #45b6fe;
  border: none;
  color: #fff;
  text-align: center;
  padding: 3px;
  padding-right: 20px; 
  padding-left: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font: 12px "Century Gothic", Futura, sans-serif;
  border: 2px solid #fff;
}

.arrows:hover span {
  padding: 3px; 
}
.arrows span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.calendar-buttons {
  margin-left: 20px;
  margin-top: -20px; 
  margin-bottom: -23px;
  padding-right: 0px; 
}
.buttons {
  margin-right: 20px;  
  color: floralwhite; 
  border-radius: 10px;
  background-color: white;
  border: none;
  color: #FFFFFF;
  text-align: center;
  color: #588BAE; 
  padding: 5px; 
  padding-right: 20px; 
  padding-left: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font: 11px "Century Gothic", Futura, sans-serif;
  border: 2px solid #588BAE;
}

.buttons:focus {
    background-color: #588BAE; 
    color: #fff; 
}

.buttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttons span:after {
  content: '\2713';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttons:hover span {
  padding-right: 25px;
  font-size: 10px;
}

.buttons:hover span:after {
  font-size: 10px;
  opacity: 1;
  right: 0;
}

.Cal-assignments{
  text-align: left;
  font-size: 10px;
  display: flex;
  color: #1261a0;  
}

.zoom-links {
    text-decoration: none;
    color: black;
    transition: all 0.5s;
}

.zoom-links:visited {
    text-decoration: none;
    color: black;
}


.zoom-links:hover{
    font-size: 10.5px; 
}

.zoom-links:hover span:after {
  font-size: 10px;
  opacity: 1;
}


.events {
  	text-align: left;
    font-size: 10px;
    display: flex;
}
