@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

body {
  font: 1px Open Sans; 
  background: #ececec; 
}

.header {
  background: #45b6fe; 
  /*border: 1px solid #000000;*/
  float: center;
  font-size: 35px;
  font-weight: bold;
  line-height: 50px;
  height: 90px;
  margin-right: -1px;
  margin-bottom: 20px;
  text-align: center; 
  width: 100%;
}

.search-separate {
  /* background: #9dd9f3;
  border: 1px solid #000000; */
  float: center;
  /* font-size: 35px;
  font-weight: bold;
  line-height: 50px; */
  height: 90px;
  margin-right: -1px;
  margin-bottom: 200px;
  width: 51%;
    min-width: 500px; 
  /* display:flex; 
  flex-direction:row; */
}

.calendar {
  background: #fff;
  /*border: 0px solid #000000;*/
  font-size: 10px;
  font-weight: bold;
  height: 500px;
  margin-left: 20px;
  margin-top: 20px;
  width: 65%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;  
  min-width: 890px;
  float: right;
  margin-right: 30px;
  /*box-shadow: 1px 1px 10px grey; */
}

.calendar-nav {
    margin-top: -20px; 
    font-size: 15px; 
    text-align: right; 
    margin-right: 12px; 
    color: white;
}

.calendar-nav:visited {
    text-decoration: none;
    color: white;
}

.logo {
    padding-top: 20px;
    font-weight: 900;
    text-decoration: none;
    transition: all 0.5s;
    /*
    background: linear-gradient(to right, #fbdb48 50%, white 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}
.ookla {
    color:#fbdb48;
    text-decoration: none;
}
.manager {
    color: white;
    text-decoration: none;
}

.logo:visited {
    text-decoration: none;
}

.logo:hover{
    font-size: 37px;
    text-decoration: none;
}

.logo:hover span:after {
    text-decoration: none;
    font-size: 100px;
    opacity: 1;
    transition: all 0.5s;
}

/*
.logo :nth-last-child()  {
    color: yellow; 
    font-size: 100;
    text-decoration: none;
}*/

.calendar-days {
    /*
    margin-left: 10px;*/
    margin-right: -37px;
}

.row1{
  display:flex; 
  flex-direction:row;
}

/*
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  margin-right: -20px; 
}*/

ol, ul {
  padding-left: 18px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square:focus {
  outline: black; /* this said none bf */ 
}

.kbd-navigation .square:focus {
  background: rgb(240, 180, 227);
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.box {
  line-height: 1.5; 
}



