body{
    background-image: url(./pic.jpg);
}

.login-box {
  background: #fff;
  float: center;
  margin-left: 500px;
  font-weight: lighter;
  font-size: 25px;
  line-height: 34px;
  height: 360px;
  margin-top: 60px;
  width:518px;
  border-radius: 8px; 
}
.login-items {
    padding-left: 30px; 
}

.Login {
    padding-bottom: 0px;
    text-align: center; 
    color: #23395d; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
    padding-top: 30px;
}

.email-text {
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 16px; 
   margin-right: 600px; 
   padding-top: 1px;
   float: left;
}

.login-field {
    width: 450px; 
    height: 28px; 
    border-radius: 10px; 
}

.login-field2 {
    float: left;
    width: 450px;
    height: 28px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.login-button {
    width: 460px;
    height: 35px; 
    margin-left: 400px;
    font: "Century Gothic", Futura, sans-serif;
    border-radius: 10px;
    background-color: blue; 
}
