/* .searchbar{
  background: #ffffff;
  float: left;
  font-size: 18px;
  font-weight: lighter;
  line-height: 34px;
  height: 50px;
  width: 48%;
  margin: 30px 20px 30px 20px;
  text-align: start; 
  border-radius: 5px;
  padding: 5px 12px 5px 20px;
  display: flexbox;
} */

.searchbar {
  text-align: left;
  padding-left: 10px;
  margin: 30px 20px 30px 20px;
  font-size: 18px;
  font-weight: lighter;
  width: 50%;
  background-color: #ffffff;
  border-radius: 7px;
  box-sizing: border-box;
  display: flexbox;
}

.searchbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  margin-left: 8px; 
  border: solid; 
  border-width: 1px; 
  border-radius: 10px; 
  border-color: black;
  background: #fff; 
  font: 15px "Century Gothic", Futura, sans-serif;
  font-weight: 100; 
  text-align: left;
  outline: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
