.search-box {
  font-family: 'Titillium Web';
  font-weight: bold;
  margin-left: 19px; 
  background: #fff;
  /*border: 2px solid #000000; */
  float: left;
  font-weight: lighter;
  font-size: 20px;
  line-height: 34px;
  height: 450px;
  margin-right: -1px;
  margin-top: 20px;
  text-align: left;
  width: 35%;
  border-radius: 7px; 
  overflow: auto; 
}

.search-title {
  padding-left: 10px; 
  background: #45b6fe; 
  border-top-right-radius: 7px; 
  border-top-left-radius: 7px; 
  padding-bottom: 5px; 
  padding-top: 5px; 
  color: #fff;
  font-weight: 500;
}

.searchbar {
  font-family: 'Titillium Web';
  text-align: left;
  padding-left: 10px;
  margin-top: 15px;
  /* margin: 30px 20px 30px 20px; */
  font-size: 18px;
  font-weight: bold;
  float: left;
  background-color: #ffffff;
  border-radius: 7px;
  box-sizing: border-box;
  display: flexbox;
  height: 450px;
}

.searchbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  margin-left: 8px; 
  border: solid; 
  border-width: 1px; 
  border-radius: 10px; 
  border-color: black;
  background: #fff; 
  font: 15px "Century Gothic", Futura, sans-serif;
  font-weight: 100; 
  text-align: left;
  outline: none;
}

select {
  font-family: 'Titillium Web';
  padding: 6px;
  margin-top: 8px;
  margin-left: 8px; 
  border: solid; 
  border-width: 1px; 
  border-radius: 10px; 
  border-color: black;
  background: #fff; 
  font: 15px "Century Gothic", Futura, sans-serif;
  font-weight: 100; 
  text-align: left;
  outline: none;
     overflow: auto; 
}

a {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.text3{
  font-family: 'Titillium Web';
}
